<div class="container">
  <h1>Overview for Season <%= @season.season_number %></h1>

  <table  class="table table-striped">
    <% @season.divisions.each do |division| %>
      <tr>
        <td><%= division.letter %></td>
        <td><%= division.tier %></td>
        <td><%= link_to division.name, division_path(division) %></td>
      </tr>
    <% end %>
  </table>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Seasons', seasons_path %></li>
      <li class="breadcrumb-item active" aria-current="page">Season <%= @season.season_number %> </li>
    </ol>
  </nav>
</div>