<%= bootstrap_form_for(@survey) do |form| %>

  <%= form.text_field(:name, label: 'Your Email') %>

  <%= form.text_field(:name, label: 'Your prefered nickname') %>

  <%= form.text_field(:name, label: 'Your Email') %>

  <div class="actions">
    <%= form.submit('Submit', class: 'btn btn-success') %>
  </div>
<% end %>