<div class="container">

<h1 class="text-center m-5"> X-Wing Vassal League </h1>

<div class="row">
    <section class="col">
        <div class="text-center">
            <img src="logo-xw-lrg.png" class="w-25">
        </div>
        <br>
        <p>
            Welcome to the home of the X-Wing Vassal League. 
            We use the <%= link_to 'Vassal Engine', 'http://www.vassalengine.org/' %> to play the Second Edition X-Wing Miniatures Game.
            <br>
            <br>
            Check back at the end of May 2019 to sign up for the next season.

        </p>

    </section>
    <section class="col border border-dark rounded-lg">
        <h3 class="text-center m-3">League Resources</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <%= icon('fas', 'list-ol') %>
                <%= link_to 'Browse Current Season', season_path(season_number: 7) %>
            </li>
            <li class="list-group-item">
                <%= icon('fas', 'pencil-alt') %>
                <%= link_to 'Create Interdivisional Match', league_interdivisional_path %>
            </li>
            <li class="list-group-item">
                <%= icon('fab', 'slack') %>
                <%= link_to 'Get an invite to the League Slack', 'https://xwingvassalleagueslack.herokuapp.com/' %>
            </li>
            <li class="list-group-item">
                <%= icon('fas', 'cubes') %>
                <%= link_to 'Download the latest Vassal Module', 'https://github.com/Mu0n/XWVassal/releases' %>
            </li>
            <li class="list-group-item">
                <%=icon('fas', 'gavel') %>
                <%= link_to 'Community Rules Supplement', 'https://docs.google.com/document/d/1cSNaoKAThwjDhjjixO7u-MZZ3l5xu-LgKnRohhTIkYk/edit?fbclid=IwAR1R6idVlSw7ioiBqmQvCLd_IkKAdHZvsJZAyr8n5qOHZ7UC_FUlxNphsgk' %>
            </li>
            <li class="list-group-item">
                <%= icon('fab', 'galactic-republic') %>
                <%= link_to 'YASB2 Squadbuilder', 'https://raithos.github.io' %>
            </li>
            <li class="list-group-item">
                <%= icon('fas', 'search') %>
                <%= link_to "Mu0n's Vassal Guide", 'https://xwvassal.info/guide' %>
            </li>
        </ul>
        <br>
    </section>
</div>



<p>
    <% if current_user %>
        Status: <br>
        <% user = current_user %>
        <%= 'You are logged in as ' + user&.name.to_s  + ' and your display name is ' +user.display_name.to_s %> <br>
        <br>
        You can always logout by visiting <a href="/logout">here</a>
        <p>
        <% if user&.current_league_participant %>
            <div><%= link_to 'View all matches at your Season 7 profile page', user&.current_league_participant %></div>
            <div><%= link_to 'You can now create interdivisional matches', league_interdivisional_path %></div>
        <% end %>
        </p>
    <% else%>
        <a href="/auth/slack"><img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
    <% end%>
</p>

<section class="latest">
    <div class="header">
        <h1 id="maillist" class="text-center">Latest news</h1>
    </div>
    <div class="content">
        <iframe id="googleDoc"
                class="googleDoc"
                src="https://docs.google.com/document/d/e/2PACX-1vTZUL8JjA0WsJxr-E_NhNb9mlGQW6BWiFbCIWqsjsJFp1NngAXfTNGr7KLfXWNVw0ZFQ0QIumEr4YZz/pub"
                width="100%"
                height="500px">
        </iframe>
  </div>
</section>
</div>