<%= bootstrap_form_for(@season_seven_survey) do |form| %>

  <% s1 = LeagueParticipant.where()%>

  <div class="form-group form-row">
    <%= form.text_field(:full_name, label: 'First and last name (not displayed publicly) *', value: current_user&.name) %>
  </div>
  <div class="form-group form-row">
    <%= form.text_field(:display_name, label: 'Name you want displayed *', required: true, value: current_user&.display_name) %>
  </div>
  <div class="form-group form-row">
    <%# form.select(:s1_id) %>
  </div>

  <div>
    <%= form.time_zone_select(:time_zone) %>
  </div>
  <div>
    <%= form.number_field(:time, label: "Select your prefered match start hour. 20 = 8pm in your selected time zone. This will be used to roughly group people by prefered start time", value: 20)%>
  </div>

  <br>
  <div class="actions">
    <%= form.primary %>
  </div>
<% end %>
