<%= bootstrap_form_for(@participant) do |form| %>
  <%= label_tag(:name, 'Player Name')%>
  <%= text_field(:participant, :name)%>

  <br>

  <%= label_tag(:swiss_rank, 'Rank during Swiss')%>
  <%= number_field(:participant, :swiss_rank, required: true)%>

  <%= label_tag(:top_cut_rank, 'Top Cut Rank')%>
  <%= number_field(:participant, :top_cut_rank)%>

  <br>

  <%= label_tag(:score, 'Score / Number of Wins in Swiss')%>
  <%= number_field(:participant, :score, max: 100)%>

  <%= label_tag(:mov, 'Total Margin of Victory')%>
  <%= number_field(:participant, :mov)%>

  <br>

  <%= label_tag(:sos, 'Strength of Schedule')%>
  <%= text_field(:participant, :sos)%>

  <%= label_tag(:dropped, 'Did this player drop?')%>
  <%= check_box(:participant, :dropped)%>

  <br>

  <%= label_tag(:squad_url, 'Squad URL. Supports both YASB2 and any FFG squadbuilder link')%>
  <%= text_field(:participant, :squad_url) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
