<%= bootstrap_form_for(@participant) do |form| %>


  <div class="form-group form-row">
    <div class="col-md-4">
      <%= form.text_field(:name, label: 'Player Name') %>
    </div>
    <div class="col-md-4">
      <%= form.number_field(:swiss_rank, required: true, label: 'Rank during Swiss')%>
    </div>
    <div class="col-md-4">
      <%= form.number_field(:top_cut_rank, label: 'Top Cut Rank')%>
    </div>
  </div>

  <div class="form-group form-row">
    <div class="col-md-4">
      <%= form.number_field(:score, max: 100, label: 'Number of Wins in Swiss')%>
    </div>
    <div class="col-md-4">
      <%= form.number_field(:mov, label: 'Total Margin of Victory')%>
    </div>
    <div class="col-md-4">
      <%= form.text_field(:sos, label: 'Strength of Schedule')%>
    </div>
  </div>

  <div class="form-group form-row">
    <div class="col-md-4">
      <%= form.check_box(:dropped, label: 'Did this player drop?') %>
    </div>
    <div class="cold-md-8">
      <%= form.text_field(:squad_url, label: 'Optional Squad URL. Yet Another Squad Builder or Launch Bay Next only', placeholder: "https://yasb.app") %>
    </div>
  </div>

  <%= form.text_area(:list_json, readonly: true, label: 'Raw XWS. Adding a squad url will overwrite existing xws')%>

  <div class="actions">
    <%= form.submit('Submit', class: 'btn btn-success') %>
    <%= link_to 'Back to Tournament', @participant.tournament, {class: 'btn btn-danger'} %>
  </div>
<% end %>
