<div class="card">
  <div class="card-body">
    <div>
      <h3 class="text-center">
        Filters
      </h3>
      <%= bootstrap_form_tag(id: "tournament_filter_form", method: "get", enforce_utf8: false) do |form|%>
        <div class="form-group form-row">
          <div class="col-md-2">
            <%= form.number_field :min_participants, label: "Min Player #", class: "filter-input"%>
          </div>
          <div class="col-md-2">
            <%= form.number_field :max_participants, label: "Max Player #", class: "filter-input" %>
          </div>
          <div class="col-md-2">
            <%= form.collection_select(:format_id, Format.all.order('sort desc nulls last, id'), :id, :name, 
              {label: 'Format:', include_blank: true}, {class: "filter-input"}) 
            %>
          </div>
          <div class="col-md-2">
            <%= form.collection_select(:tournament_type_id, TournamentType.all, :id, :name, 
              {label: 'Type:', include_blank: true}, {class: "filter-input"}) 
            %>
          </div>
          <div class="col-md-2">
            <%= label_tag(:country, 'Country')%>
            <%= form.country_select(:country, {priority_countries: ["US"], include_blank:true}, {class: 'form-control filter-input'}) %>
          </div>
        </div>

        <div class="form-group form-row">
          <div class="col-md-2">
            <%= form.text_field(:name_search, label: 'Name:', class: "filter-input")%>
          </div>
          <div class="col-md-2">
            <%= form.date_field(:played_after, label: 'Date ≥', class: "filter-input")%>
          </div>
          <div class="col-md-2">
            <%= form.date_field(:played_before, label: '≤ Date', class: "filter-input")%>
          </div>
          <div class="col-md-2">
            <% sort_array = Tournaments::Forms::ORDER.map { |k,v| [k, v[1]] } %>
            <%= form.collection_select(
              :sort_order, sort_array, :first, :last, {label: 'Order By:', include_blank: true}, {class: "filter-input"}
            )%>
          </div>
        </div>

        <div class="form-group form-row">
          <div>
            <%= form.submit "Filter", name: nil, class: "btn btn-secondary mr-3" %>
          </div>
          <div>
            <%= link_to 'Reset', request.env['PATH_INFO'], method: "get", class: 'btn btn-warning mr-3' %>
          </div>
        </div>

      <% end %>
      <%= javascript_tag "update_filter_with_query_string_params()" %>
    </div>
  </div>
</div>