<%= form_with(model: tournament, local: true) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= label_tag(:date, 'Tournament Date')%>
  <%= date_field(:tournament, :date)%>

  <%= label_tag(:participant_number, 'Number of Players')%>


  <%= label_tag(:tournamenttype_id, 'Tournament Type:')%>
  
  <%= form.collection_select(:tournamenttype_id, TournamentType.all, :id, :name) %>

  <%= label_tag(:country, 'Country')%>
  <%= country_select('tournament', 'country', priority_countries: ["US"], include_blank:true) %>


  <%= label_tag(:location, 'Location')%>


  <%= label_tag(:format, 'Format')%>
  <%= form.collection_select(:format_id, Format.all, :id, :name) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
