<%= bootstrap_form_for(@tournament) do |form| %>
  <%= label_tag(:date, 'Tournament Date')%>
  <%= date_field(:tournament, :date, value: Date.today)%>

  <%= label_tag(:name, 'Tournament Name')%>
  <%= text_field(:tournament, :name, required: true)%>

  <%= label_tag(:participant_number, 'Number of Players')%>
  <%= number_field(:tournament, :participant_number, max: 256, required: true)%>
  <br>

  <%= form.collection_select(:format_id, Format.all, :id, :name, label: 'Tournament Format:') %>

  <%= form.collection_select(:tournament_type_id, TournamentType.all, :id, :name,  label: 'Tournament Type:') %>

  <br>

  <%= label_tag(:location, 'Store Name / Location')%>
  <%= text_field(:tournament, :location)%>

  <%= label_tag(:state, 'State/Province')%>
  <%= text_field(:tournament, :state) %>

  <%= label_tag(:country, 'Country')%>
  <%= country_select(:tournament, :country, priority_countries: ["US"], include_blank:true) %>

  <br>

  <%= label_tag(:tabletop_url, 'Optional Tabletop.to URL. Only imports player stats') %>
  <%= text_field(:tournament, :tabletop_url) %>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
