<%= bootstrap_form_for(@tournament) do |form| %>

  <div class="form-group form-row">
    <div class="col-md-3">
      <%= form.date_field(:date, value: Date.today, label: 'Tournament Date')%>
    </div>
    <div class="col-md-9">
      <%= form.text_field(:name, required: true, label: 'Tournament Name')%>
    </div>
  </div>

  <div class="form-group form-row">
    <div class="col-md-2">
      <%= form.number_field(:participant_number, max: 256, min: 0, required: true, label: 'Number of Players')%>
    </div>
    <div class="col-md-5">
      <%= form.collection_select(:format_id, Format.all, :id, :name, label: 'Tournament Format:') %>
    </div>
    <div class="col-md-5">
      <%= form.collection_select(:tournament_type_id, TournamentType.all, :id, :name,  label: 'Tournament Type:') %>
    </div>
  </div>

  <div class="form-group form-row">
    <div class="col-md-4">
      <%= form.text_field(:location, label: 'Store Name / Location')%>
    </div>
    <div class="col-md-4">
      <%= form.text_field(:state, label: 'State/Province') %>
    </div>
    <div class="col-md-4">
      <%= label_tag('tournament_country', 'Country')%>
      <%= form.country_select(:country, {priority_countries: ["US"], include_blank:true}, {class: 'form-control'}) %>
    </div>
  </div>

  <p class='form-group'>
<%= label_tag('', "You can optionally load player and round data from tabletop.to, cryodex, or manually. 
You'll still have to fill out the Tournament details in the form above.") %>
  </p>

<p>
  <div class="form-group form-row">
    <div class="col-md-6">
      <%= form.text_field(:tabletop_url, label: 'Optional Tabletop.to URL.') %>
    </div>
    <div class='col-md-6'>
      <%= form.text_area(:cryodex_json, label: 'Optional Cryodex or Tabletop.to json')%>
    </div>
    <div class="col-md-2">
      <%= form.number_field(:round_number, max: 256, min: 0, label: 'Optional Number of Rounds')%>
    </div>
  </div>
</p>
<p>
  <dive class="form-group for row">
  <div class="actions">
    <%= form.submit %>
    <%= link_to 'Back', tournaments_path, {class: 'btn btn-danger'} %>
  </div>
  </div>
</p>

<% end %>
