<%= bootstrap_form_for(@tournament) do |form| %>

  <div class="form-group form-row">
    <div class="col-md-3">
      <%= form.date_field(:date, label: 'Tournament Date', required: true)%>
    </div>
    <div class="col-md-9">
      <%= form.text_field(:name, required: true, label: 'Tournament Name')%>
    </div>
  </div>

  <div class="form-group form-row">
    <div class="col-md-6">
      <%= form.collection_select(:format_id, Format.all, :id, :name, label: 'Tournament Format:') %>
    </div>
    <div class="col-md-6">
      <%= form.collection_select(:tournament_type_id, TournamentType.all, :id, :name,  label: 'Tournament Type:') %>
    </div>
  </div>

  <div class="form-group form-row">
    <div class="col-md-4">
      <%= form.text_field(:location, label: 'Store Name / Location')%>
    </div>
    <div class="col-md-4">
      <%= form.text_field(:state, label: 'State/Province') %>
    </div>
    <div class="col-md-4">
      <%= label_tag('tournament_country', 'Country')%>
      <%= form.country_select(:country, {priority_countries: ["US"], include_blank:true}, {class: 'form-control'}) %>
    </div>
  </div>

  <p class='form-group'>
    <%= label_tag('', "You can load player and round data in three different ways. Only one can be used at a time.") %> <br>

  <div class="form-group form-row">
    <div class='col-md-6'>
      <%= form.text_field(:tabletop_url, 
                    label: '1: You can link to a TableTop.TO or Best Coast Pairings event via url',
                    placeholder: 'https://tabletop.to/url') 
      %>
    </div>
  </div>

  <div class="form-group form-row">
    <div class='col-md-6'>
      <%= form.text_area(:cryodex_json, label: '2: Paste an export from cryodex', 
        placeholder: '{"name": "YourTournament\'s json"... }',
        help: 'Export an XWingTournament.JSON file from cryodex, open it in notepad and copy the contents'
      )%>
    </div>
  </div>

  <div class="form-group form-row">
    <div class='col-md-4'>
      <%= form.number_field(:participant_number, value: @tournament.participants.size, 
        max: 999, min: 0, 
        label: '3: Set the number of participants directly.',
        help: 'You will have to manually enter names and scores.')
      %>
    </div>
  </div>
</p>


<p>
  <div class="form-group for row">
    <div class="actions">
      <%= form.submit %>
      <%= link_to 'Back', tournaments_path, {class: 'btn btn-danger'} %>
    </div>
  </div>
</p>

<% end %>
