<%= form_with(model: tournament, local: true) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= label_tag(:date, 'Tournament Date')%>
  <%= date_field(:tournament, :date)%>

  <%= label_tag(:participant_number, 'Number of Players')%>

  <%= label_tag(:type, '')%>
  <%= label_tag(:, '')%>
  <%= label_tag(:, '')%>
  <%= label_tag(:, '')%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
