<p id="notice"><%= notice %></p>

<h1 class="text-center">Tournaments</h1>
<div class="container">
<table  class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>State</th>
      <th>Country</th>
      <th>Date</th>
      <th>Format</th>
      <th>Type</th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>

        <td><%= link_to tournament.name, tournament %></td>
        <td><%= tournament.location%></td>
        <td><%= tournament.state%></td>
        <td><%= tournament.country%></td>
        <td><%= tournament.date%></td>
        <td><%= tournament.format&.name%></td>
        <td><%= tournament.tournament_type&.name%></td>
        <!--<td><%# link_to 'Edit', edit_tournament_path(tournament) %></td>
        <td><%# link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
<div>

<br>

<%= link_to 'New Tournament', new_tournament_path %>
