<div class="container-fluid">
<% cache @tournament do %>
  <p>
    <h1 class="text-center">
      <%= @tournament.name %>
    </h1>
    <p>
    Player Count: <%= @participants.size %>
    Type: <%= @tournament.tournament_type&.name %>
    Format: <%= @tournament.format&.name %>
    </p>
    <p>
    <% if @tournament.location.present? %>
      Location: <%= @tournament.location %>
    <% end %>
    <% if @tournament.state.present? %>
      State: <%= @tournament.state %>
    <% end %>
    <% if @tournament.country.present? %>
      Country: <%= @tournament.country %>
    <% end %>
    </p>
  </p>
  <table  class="table table-striped">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Cut</th>
        <th>Name</th>
        <th>Score</th>
        <th>MoV</th>
        <th>SoS</th>
        <th> </th>
        <th>Squad</th>
        <th> </th>

      </tr>
    </thead>

    <% @participants.each do |participant| %>
      <tr>
      <td><%=participant.swiss_rank %></td>
      <td><%=participant.top_cut_rank %></td>
      <td><%=participant.name %></td>
      <td><%=participant.score %></td>
      <td><%=participant.mov %></td>
      <td><%=participant.sos %></td>
      <% if participant.list_json %>
        <td> 
           <i class="xwing-miniatures-font <%="xwing-miniatures-font-#{XWS.faction_icon(participant.list_json)}"%>"> 
        </td>
        <td>
          <% XWS.formatted_list(participant.list_json).each do |line| %>
            <%= line %> <br>
          <% end %>
        </td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>

      <td><%= link_to 'Edit', edit_participant_path(participant) %></td>

      </tr>
    <% end%>
  </table>
  <%# link_to 'Edit', edit_tournament_path(@tournament) %>
  <%# link_to 'Back', tournaments_path %>

  <% if @rounds.present? and @rounds.size > 0 %>
    <table  class="table table-striped">
      <thead>
        <tr>
          <th>Round Number</th>
          <th>Round Type</th>
          <th>Matches</th>
          <th> </th>
        </tr>
      </thead>

      <% @rounds.each do |round| %>
        <% @round_name = ""
          @round_name = 'Swiss' if round.roundtype_id == 1
          @round_name = 'Elimination' if round.roundtype_id == 2
        %>
        
        <tr>
        <td><%=link_to round.round_number, round %></td>
        <td><%= @round_name %></td>
        <td><%=round.matches.size %></td>
        <td><%= link_to 'Edit', edit_round_path(round) %></td>

        </tr>
      <% end%>
    </table>
  <% end %>
  <%= link_to "Export to CSV", tournament_path(@tournament.id, format: :csv),  { :class=>"btn btn-primary" }%>

<% end %>
</div>