<p id="notice"><%= notice %></p>
<table>
  <% @tournament.participants.each do |participant| %>
    <tr>
    <td><%=participant.overall_rank %></td>
    <td><%=participant.swiss_rank %></td>
    <td><%=participant.mov %></td>
    <td><%=participant.overall_rank %></td>

    </tr>
  <% end%>
</table>
<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
