<div class="container">

<h1 class="text-center m-5"> About List Fortress </h1>

<div class="row">
  <section class="col">
    <h3 class="text-center">What is it?</h3>
    <p>
      X-Wing Miniatures Second Edition is a two player boardgame centered around building and dogfighting with a squad of starships from the Star Wars Universe.
    </p>
    <p>
      List Fortress is a website for crowdsourcing the collection and organization of X-Wing Miniatures tournament results. 
      The resulting data set is publicly available via API and is used by third party sites like <%= link_to "PBM", "https://pinksquadron.dk/pbm/"%>

      List Fortress also serves as the online hub for the X-Wing Vassal League. 
      The League plays X-Wing online via the Vassal Engine and uses List Fortress to track player standings and share replays.
    </p>
  </section>

  <section class="col">
    <h3 class="text-center">Tech</h3>

    <p>
      List Fortress is built with Ruby on Rails, PostgreSQL and Bootstrap. 
      <br>
      <br>
      The source code is available at <%= link_to 'Github', 'https://github.com/AlexRaubach/ListFortress'%> under an MIT license.
    </p>

    <h3 class="text-center"> Acknowledgements </h3>

    <p>
      <ul class="list-group">
        <li  class="list-group-item">The Scum and Villainy Podcast <%= icon('fab', 'mandalorian') %></li>
        <li  class="list-group-item">Sozin: For his advice and encouragement when planning the site</li>
        <li  class="list-group-item">Chris Allen: For all his tireless work</li>
        <li  class="list-group-item">Mwhited: For all the help setting up matches</li>
        <li  class="list-group-item">so_crates: For running the XWS conversion services</li>
        <li  class="list-group-item">Everyone who contributes to <%= link_to "X-Wing Data 2", "https://github.com/guidokessels/xwing-data2"%>: <%= icon('fas', 'heart') %></li>
        <li  class="list-group-item">Everyone who helps enter data: This wouldn't be possible without you</li>
      </ul>
    </p>


  </section>
</div>

</div>