<div class="container">
<% name = @league_participant&.user&.display_name %>
<h1 class="text-center">Overview for <%= name %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Match ID</th>
      <th>Player 1 Name</th>
      <th>Player 1 Points</th>
      <th>Player 1 Squad</th>
      <th>Player 2 Name</th>
      <th>Player 2 Points</th>
      <th>Player 2 Squad</th>
      <th>Winner Name</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @matches.each do |match| %>
    <tr>
      <td><%= match.id %></td>
      <td><%= link_to LeagueParticipant.find(match.player1_id).user.display_name, league_participant_path(match.player1_id) %></td>
      <td><%= match.player1_points%></td>
      <td><%= match.player1_xws %></td>
      <td><%= link_to LeagueParticipant.find(match.player2_id).user.display_name, league_participant_path(match.player2_id) %></td>
      <td><%= match.player2_points%></td>
      <td><%= match.player2_xws %></td>
      <td><%= LeagueParticipant.find(match.winner_id).user.display_name if match.winner_id %></td>
      <td><%= link_to('Edit', edit_match_path(match)) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>