<div class="fluid-container">
<% name = @league_participant.name %>
<h1 class="text-center">Overview for <%= name %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Match ID</th>
      <th>Player 1 Name</th>
      <th>Player 1 Points</th>
      <th>Player 1 Squad</th>
      <th>Player 2 Name</th>
      <th>Player 2 Points</th>
      <th>Player 2 Squad</th>
      <th>Winner Name</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @matches.each do |match| %>
    <tr>
      <td><%= match.id %></td>
      <td><%= link_to LeagueParticipant.find(match.player1_id).name, league_participant_path(match.player1_id) %></td>
      <td><%= match.player1_points%></td>
      <td>
      <% if match.player1_xws.present? %>
        <% XWS.formatted_list(match.player1_xws).each do |line| %>
          <%= line %> <br>
        <% end %>
      <% end %>
      </td>
      <td><%= link_to LeagueParticipant.find(match.player2_id).name, league_participant_path(match.player2_id) %></td>
      <td><%= match.player2_points%></td>
      <td>
      <%  if match.player2_xws.present? %>
        <% XWS.formatted_list(match.player2_xws).each do |line| %>
          <%= line %> <br>
        <% end%>
      <% end %>
      </td>
      <td><%= LeagueParticipant.find(match.winner_id).name if match.winner_id %></td>
      <td><%= link_to('Edit', edit_match_path(match)) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Seasons', seasons_path %></li>
      <li class="breadcrumb-item"><%= link_to 'Season ' + @league_participant&.division&.season&.season_number&.to_s, 
        season_path(season_number: @league_participant&.division&.season&.season_number) %>
      </li>
      <li class="breadcrumb-item"><%= link_to @league_participant&.division&.name + ' Division', @league_participant&.division %></li>
      <li class="breadcrumb-item active" aria-current="page">League Participant <%= name %></li>
    </ol>
  </nav>

</div>