<!DOCTYPE html>
<html>
  <head>
    <title>ListFortress</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar.html.erb'%>
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %> text-center">
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
